%% @efmt:off
{minimum_otp_vsn, "25.0"}.

{erl_opts, [{i, "src"},
            {feature, maybe_expr, enable},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{cover_enabled, true}.

{validate_app_modules, true}.

{dialyzer, [{warnings, [
                        extra_return,
                        missing_return
                       ]},
            {plt_apps, top_level_deps},
            {plt_location, local},
            {base_plt_location, global}]}.

{project_plugins, [
                   rebar3_hex,
                   rebar3_proper,
                   rebar3_efmt
                  ]}.

{elvis_output_format, colors}.

{profiles,
 [
  {test,
   [
    {eunit_opts, [{i, "src"}]},
    {deps, [
            {proper, "1.4.0"}
           ]}
   ]}
 ]}.
